.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


.column-header,
.column-content{
    background-color: white;
}

.data-row{

}
.table-cell{
    border: 0px solid #d5d5d5;
}
.cell-content-wrapper{
    width:20px;
    height: 40px;
}
.calender-line-title{}
.calender-header{}
.row-title{
    width: 215px;
    text-align: left;
    padding-left: 10px;
}

.sat {
    background-color: #d6e9c6;
}
.sun {
    background-color: #c9aa5f;
}
.data-content{
    resize: horizontal;
    overflow: auto;
    background-color: #cbd3e2;
    height: 30px;
    z-index: 100;
    display: inline-block;
    margin-top: 5px;
    border-radius: 8px;
    border: 2px solid #949191;
}

.month-heading {
    text-align: center;
}
.month-heading span{
    font-weight: 600;
}

/************************************************************************/

.month-grid-wrapper{
    display: block;

    overflow: hidden;
    white-space: nowrap;
}
.month-grid-cell{
    float: left;

}
.month-grid{
    width: 435px;
    height: 60px;
    background: #ffffff;
    margin: 1px;
    position: relative;
    display: inline-block;
    border: 1px solid;
}
.month-grid-wrapper .month-grid-cell span{

}

.week-grid-wrapper{}
.week-grid{}
.week-grid-cell{}